.App-header {
    position: fixed;
    top: 0;
    min-height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 1px grey;
    background-color: #000;
}

.header-content {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  padding: 0.5rem 0;
  justify-items: center;
  align-items: center;
}

.App-logo {
    height: 3rem;
}

.app-title {
    width: 100%;
    max-width: 80vw;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0;
    background-color: black;
    color: white;
}

.profile-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-menu-wrap {
    position: relative;
    transform: translateX(-125%);
}

.profile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 6rem;
    background-color: #212121;
    position: absolute;
    top: 2.5rem;
    border-radius: 8px;
}

.profile-menu:after {
    bottom: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(33, 33, 33, 0);
	border-bottom-color: #212121;
	border-width: 10px;
	margin-left: -10px;
}