.todo-item {
    text-align: left;
    background-color: #000a12;
    border-radius: 4px 4px 0 0;
    width: 60%;
    margin: 0.4rem 0.25rem 0.25rem 4rem;
    padding: 0.25rem 0.5rem;
  }
  
  [data-placeholder]:empty:before{
    content: attr(data-placeholder);
    color: #888;
    font-style: italic;
  }

  .todo-item:focus {
      outline: none;
      border-bottom: solid 1px rgba(136, 136, 136, 0.6);
  }

  .item-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 4rem;
  }