.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.App-header {
  background-color: #000a12;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: #09d3ac;
}
