.App {
  text-align: center;
  background-color: #000a12;
  min-height: 100vh;
  color: white;
}

.App-header {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
  color: white;
  border-bottom: solid 1px grey;
  background-color: #000a12;
}

input:focus {
  outline: none;
}

.App-logo {
  height: 3rem;
}

.app-title {
  font-size: 1.75rem;
  margin: 0.75rem;
}

.todo-items {
  padding: 3.5rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 400px;
  margin: auto;
}

/* Styling for material design icons */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }